<div class="admin-wrapper">

    <div class="sidebar">

       <div class="sidebar">

        <h3 class="logo">
            👨‍💼 Admin Panel
        </h3>
    
        <a routerLink="/admin/dashboard" routerLinkActive="active">
            📊 Dashboard
        </a>
    
        <a routerLink="/admin/add" routerLinkActive="active">
            ➕ Add Product
        </a>
    
        <a routerLink="/admin/products" routerLinkActive="active">
            🛠️ Manage Products
        </a>
    
        <a routerLink="/admin/orders" routerLinkActive="active">
            📦 Manage Orders
        </a>

      </div>
    </div>

    <div class="main">

        <router-outlet></router-outlet>

    </div>

</div>